.section {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
  width: 100%;
  /* padding: 1rem 0 0 0; */
  align-items: center;
}
.section > div {
  width: 47%;
}
.aboutImg {
  width: 80%;
  height: 60vh;
  position: relative;
  min-height: 350px;
  max-height: 450px;
  /* background-color: var(--card-color); */
  /* background-color: rgb(32, 32, 32); */
  border: 1px solid var(--sec-color);
}
/* .aboutImg::after {
  content: "";
  border: 1px solid var(--sec-color);
  position: absolute;
  top: 1rem;
  z-index: -1;
  left: -1rem;
  width: 100%;
  height: 100%;
} */
.section img {
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  margin-left: 1rem;
  background-color: black;
}
.section h2 {
  font-size: 1.6rem;
}
.left-wrap > * {
  margin: 1.2rem 0;
}
@media (max-width: 760px) {
  .section {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section .aboutImg {
    width: 90%;
    max-width: 350px;
    margin: 0 auto 3rem auto;
    max-height: 300px;
    min-height: 200px;
  }
  .section > div {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .section img {
    margin-top: -0.8rem;
    margin-left: 0.8rem;
  }
  .left-wrap * {
    margin: 1.2rem auto;
  }
}
